**Question 1:** Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system'
file1 = open('test.txt','w')
file1.write(test1)

43

**Question 2:** Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [ ]:
file2 = open('test.txt','r')
test2 = file2.readline()
if test1 ==  test2:
  print('Both are same')

Both are same

**Question 3:** Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [52]:
import csv

fields = ['title', 'author', 'year']
rows = [['The Weirdstone of Brisingamen','Alan Garner',1960 ],
        ['Perdido Street Station','China Miéville',2000],
        ['Thud!','Terry Pratchett',2005],
        ['The Spellman Files','Lisa Lutz',2007],
        ['Small Gods','Terry Pratchett',1992]
        ]

with open('books.csv', 'w') as csvfile:
  csv_Writer = csv.writer(csvfile)
  csv_Writer.writerow(fields)
  csv_Writer.writerows(rows)

**Question 4:** Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [37]:
import sqlite3

file_Name = 'books.db'
try:
  con = sqlite3.connect('books.db')
  print('Database Connected')
  
except:
  print('Database not Connected')

cursor_Object = con.cursor()
cursor_Object.execute('drop table if exists books')
create_Table_Query= 'create table books(title varchar(20)not null, author varchar(30), year int)'

cursor_Object.execute(create_Table_Query)

con.close()

Database Connected

**Question 5:** Read books.csv and insert its data into the book table.

In [53]:
try:
  con = sqlite3.connect('books.db')
  print('Database Connected')
  insert_Query = 'insert into book values(?, ?, ?)'
  cursor_Object = con.cursor() 
  with open('books.csv','r') as infile:
    books = csv.DictReader(infile)
    for book in books:
        cursor_Object.execute(insert_Query, (book['title'], book['author'], book['year']))
   
  con.commit()
  con.close()
  
except:
  print('Database not Connected')

Database Connected

In [55]:
try:
  con = sqlite3.connect('books.db')
  print('Database Connected')
  select_Query = '''select * from book'''
  cursor_Object = con.cursor()  
  cursor_Object.execute(select_Query)
  
  result_Cursor = cursor_Object.fetchall()
  print(result_Cursor)
  for item in result_Cursor:
    print(item)
  con.commit()
  con.close()
  
except:
  print('Database not Connected')

Database Connected
[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

**Question 6:** Select and print the title column from the book table in alphabetical order.

In [56]:
try:
  con = sqlite3.connect('books.db')
  print('Database Connected')
  select_Query = '''select title from book order by title'''
  cursor_Object = con.cursor()  
  cursor_Object.execute(select_Query)
  
  result_Cursor = cursor_Object.fetchall()
  print(result_Cursor)
  for item in result_Cursor:
    print(item)
  con.commit()
  con.close()
  
except:
  print('Database not Connected')

Database Connected
[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]
('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

**Question 7:** From the book table, select and print all columns in the order of publication.

In [57]:
try:
  con = sqlite3.connect('books.db')
  print('Database Connected')
  select_Query = '''select * from book order by year'''
  cursor_Object = con.cursor()  
  cursor_Object.execute(select_Query)
  
  result_Cursor = cursor_Object.fetchall()
  print(result_Cursor)
  for item in result_Cursor:
    print(item)
  con.commit()
  con.close()
  
except:
  print('Database not Connected')

Database Connected
[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

**Question 8:** Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [42]:
pip install sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.42)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.13.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3.post0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.9.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)

In [45]:
import sqlalchemy
sqlalchemy.__version__

'1.4.42'

In [58]:
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from book')
for item in rows:
    print(item)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

**Question 9:** Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [48]:
pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
     |████████████████████████████████| 246 kB 4.3 MB/s
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in /usr/local/lib/python3.7/dist-packages (from redis) (21.3)
Requirement already satisfied: importlib-metadata>=1.0 in /usr/local/lib/python3.7/dist-packages (from redis) (4.13.0)
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.7/dist-packages (from redis) (4.0.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from redis) (4.1.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated>=1.2.3->redis) (1.14.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.0->redis) (3.9.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.4->redis) (3.0.9)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.3.4

import redis

con = redis.Redis()

con.delete('test')

con.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

con.hgetall('test')

**Question 10:** Increment the count field of test and print it.

con.hincrby('test','count', 3)