Question 1: Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [3]:
birthYear = int(input('Enter Birth Year:'))
years_list = []
for i in range(0,6):
  years_list.append(birthYear)
  birthYear+=1

years_list

Enter Birth Year:1985

[1985, 1986, 1987, 1988, 1989, 1990]

Question 2:In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [5]:
years_list[3]

1988

Question 3: In the years list, which year were you the oldest?

In [7]:
years_list[-1]

1990

Question 4: Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [9]:
things = ["mozzarella", "cinderella", "salmonella"] 
things

['mozzarella', 'cinderella', 'salmonella']

Question 5: Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [16]:
resultList = []
for i in things:
  str = i.upper()
  resultList.append(str)

resultList

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

Question 6: Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [17]:
surprise = ["Groucho", "Chico","Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

Question 7: Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [26]:
surprise[-1][::-1].upper()

'OPRAH'

Question 8: Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [34]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

Question 9: Write the French word for walrus in your three-word dictionary e2f.

In [35]:
e2f['walrus']

'morse'

Question 10: Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [36]:
f2e = dict({key,value} for key,value in e2f.items())
f2e

{'chien': 'dog', 'cat': 'chat', 'walrus': 'morse'}

Question 11: Print the English version of the French word chien using f2e.

In [37]:
f2e.values()

dict_values(['dog', 'chat', 'morse'])

Question 12: Make and print a set of English words from the keys in e2f.

In [38]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

Question 13: Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [40]:
life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':'','emus':''},'plant':'','other':''}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plant': '',
 'other': ''}

Question 14: Print the top-level keys of life.

In [42]:
life.keys()

dict_keys(['animals', 'plant', 'other'])

Question 15: Print the keys for life[&#39;animals&#39;].

In [45]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

Question 16 Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [48]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']